<h1>My Goals</h1>
<div class="container">
    <div class="row">
        <app-goal-form (addGoal)="addNewGoal($event)" ></app-goal-form>
    </div>

<hr>

    
    <ul>
        <div class="row" *ngFor='let goal of goals;let i = index'>
            <div class="row">
                <li id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
                <button class="btn btn-primary" (click)='toggleDetails(i)'>Toogle Details</button>
            </div>
            <div class="row">
                <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>
            </div>
        </div>
    </ul>

</div>
<p *ngIf='goals.length > 5'>You have too many goals</p>
